body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.row{
    justify-content: center;
}

#calculator{
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    border: 1px solid black;
    background-color: silver;
}

#calc-buttons{
    padding: 1.8em;
}

.btn{
    margin: 0.5em;
}

#equals{
    width: 6em;
    justify-content: center;
}